h1, p {
    font-family: Lato;
  }
  table.table-bordered{
    border:1px solid #0da7f1;
    margin-top:20px;
  }
  table.table-bordered > thead > tr > th{
    border:1px solid #0da7f1;
  }
  table.table-bordered > tbody > tr > td{
    border:1px solid #0da7f1;
  }
  .textarea-chart-component{
    font-weight:800;
    size: 48px;
  }
    